#div_digg {
width: 160px;
position: fixed;
right: 0px;
bottom: 0px;
z-index: 10;
background-color:Gray;
margin: 10px;
padding: 10px;
border: 1px solid #CCC;
float: right;
font-size: 12px;
text-align: center;
background: url("http://www.cnblogs.com/images/cnblogs_com/justinw/25027/o_blackcat.gif") repeat-x scroll 1% 50% #5F5A4B;
}