
pre {
	border : 1px solid;
	background-color: #f5f5f5;
    word-wrap: break-word;
}

pre, code, kbd, samp {
    font-family: monospace,serif;
    _font-family: 'courier new',monospace;
}

code, pre {
    padding: 0 3px 2px;
    font-family: Menlo,Monaco,"Courier New",monospace;
    font-size: 14px;
    color: #444;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

code {
    padding: 3px 4px;
    color: #d14;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}


pre code {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: 0;
}