body {
    margin: 0;
}

nav {
    /*min-height: 30px;*/
    margin: 0;
    padding: 20px 0 20px 50px;
    background-color: #eee;
    border-color: #ddd;
    border-width: 0 0 1px 0;
    border-style: solid;
}
nav a{
    margin: 0;
    padding: 20px 20px;
    color: #2970a6;
    text-decoration: none;
}
@media (max-width: 600px) {
nav { padding: 20px 0 20px 20px;}
nav a{ padding: 20px 10px; }
}
nav a:hover {
    background-color: #aaa;
    text-decoration: underline;
}

#main {
    margin: 10px 10px 20px 10px;
}

footer {
    padding: 10px;
}
